/* ------------------------------------------------------------

  fonts

------------------------------------------------------------ */
//@font-face {
//  font-family: 'PalanquinDark-SemiBold';
//  src: url('../fonts/PalanquinDark-SemiBold.woff2') format('woff2'),
//  url('../fonts/PalanquinDark-SemiBold.woff') format('woff'),
//  url('../fonts/PalanquinDark-SemiBold.ttf') format('truetype');
//}
//@font-face {
//  font-family: 'NotoSansCJKjp-Regular';
//  src: url('../fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
//  url('../fonts/NotoSansCJKjp-Regular.woff') format('woff'),
//  url('../fonts/NotoSansCJKjp-Regular.ttf') format('truetype');
//}
/*
@font-face {
  font-family: 'NotoSansCJKjp-Medium';
  src: url('../fonts/NotoSansCJKjp-Medium.woff2') format('woff'),
  url('../fonts/NotoSansCJKjp-Medium.ttf') format('truetype');
}
*/

/* =========================================================
  icomoon
============================================================ */

//@font-face {
//  font-family: 'ibg';
//  src:
//          url('#{$icomoon-font-path}/ibg.ttf?2sllzh') format('truetype'),
//          url('#{$icomoon-font-path}/ibg.woff?2sllzh') format('woff'),
//          url('#{$icomoon-font-path}/ibg.svg?2sllzh#ibg') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ibg' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-brand {
  &:before {
    content: $icon-brand;
  }
}
.icon-social {
  &:before {
    content: $icon-social;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-brand2 {
  &:before {
    content: $icon-brand2;
  }
}
.icon-tweet {
  &:before {
    content: $icon-tweet;
  }
}
.icon-social2 {
  &:before {
    content: $icon-social2;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-social3 {
  &:before {
    content: $icon-social3;
  }
}


