$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\e901";
$icon-brand: "\e901";
$icon-social: "\e901";
$icon-twitter: "\e902";
$icon-brand2: "\e902";
$icon-tweet: "\e902";
$icon-social2: "\e902";
$icon-share: "\e900";
$icon-social3: "\e900";


