/* color
------------------------------------------------------------ */
//$base-color: #e9b60a;
$base-color: #f0b600;
$muted-color: #858585;
$bg-color: #2a353a;
$error-color: $base-color;

$border-color: #dedede;
$background-color: #f8f8f8;

$green-color: #006d74;
$light-green-color: #008a93;

$gray-color: #4d4d4d;

$blue-gradient01-color: #47728d;
$blue-gradient02-color: #003b61;
$green-gradient01-color: #6598a0;
$green-gradient02-color: #005461;
$pink-gradient01-color: #e89999;
$pink-gradient02-color: #e85f5f;
$yellow-gradient01-color: #ffd085;
$yellow-gradient02-color: #ff9c00;
$red-gradient01-color: #d0675f;
$red-gradient02-color: #cf3428;

/* z-index
------------------------------------------------------------ */
$z-index-loading: 6000;
$z-index-menu-btn: 3500;
$z-index-header: 3150;
$z-index-header-bg: 2900;
$z-index-menu-md: 3100;
$z-index-menu: 3000;
$z-index-nav: 1900;
$z-index-scrolltop: 1900;

$z-index-index-news: 10;

/* grid
------------------------------------------------------------ */
$grid-gutter-width: 40px !default;

$base-font-size: 14px !default;
$base-line-height: 24 / 14 !default;
$line-height-computed: $base-font-size * $base-line-height;
$table-border: #ccc;

$container-side-gutter: 20px;
$container-side-gutter-md: 60px;

/* section-margin
------------------------------------------------------------ */
$section-margin-top: 48px;

/* header
------------------------------------------------------------ */
$menu-height: 100px;
$menu-height-mini: 70px;
$header-height: $menu-height;
$header-height-mini: $menu-height-mini;
