/* group
------------------------------------------------------------ */
.top-group {
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  padding-bottom: 60px;
  @include mq-md {
    overflow: visible;
  }
  &-bg {
    @include backscreen($background-color);
    @include mq-md {
      transform-origin: 0%;
      transform: scaleX(2.0);
    }
  }
  &-scroll {
    @include backscreenScroll(#fff, 0);
  }
  @include mq-md {
    padding-bottom: 90px;
  }
  &-head {
    &-ttl {
      @include title;
    }
  }
  &-links {
    @include mq-md {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-link {
    border-top: 1px solid $border-color;
    display: block;
    padding-top: 30px;
    margin-top: 30px;
    @include mq-md {
      padding-top: 60px;
      padding-right: 40px;
      max-width: 340px;
      vertical-align: top;
      margin-top: 0;
      border: none;
    }
    &.is-first {
      border-top: none;
      margin-top: 0;
    }
    &-logo {
      height: 32px;
      width: auto;
      .logo-infobahn {
        @include svg-logo-infobahn(32px, #454545);
      }
      .logo-mediagene {
        @include svg-logo-mediagene(32px, #454545);
      }
    }
    &-lead {
      margin-top: 0;
      @include fz(18/2, 35/2, 0);
      color: #4E4E4E;
      @include mq-md {
      }
    }
    &-name {
      margin-top: 20px;
      @include fz(30/2, 35/2, 0);
      font-weight: 700;
      color: #4E4E4E;
      @include mq-md {
        margin-top: 26px;
        @include fz(16, 24, 0);
        font-weight: 700;
      }
    }
    &-txt {
      @include text;
      margin-top: 10px;
      @include mq-md {
        margin-top: 16px;
      }
    }
  }
  &-more {
    margin-top: 18px;
    @include mq-md {
      margin-top: 30px;
    }
  }
}

