/* ir
------------------------------------------------------------ */
.top-ir {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  margin-top: 60px;
  background-size: cover;
  .container {
    @include mq-md {
      position: relative;
      padding-left: 22%;
      margin-left: 0;
    }
  }
  &-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 35%;
    width: 65%;
    height: 100%;
    //background: url(../images/top/top.jpg) no-repeat 50% 50%;
    background-size: cover;
  }
  &-scroll {
    @include backscreenScroll(#fff, left)
  }
  .container {
    z-index: 12;
    position: relative;
    @include mq-md {
      margin-top: 15%;
    }
  }
  &-head {
    &-ttl {
      @include title;
    }
  }
  &-txt {
    @include text;
    margin-top: 10px;
    text-align: left;
    @include mq-md {
      margin-top: 10px;
    }
  }
  &-btn {
    @include mq-md {
      margin-top: 60px;
      padding: 14px 40px;
      display: inline-block;
      width: auto;
    }
  }
}

