/* mission
------------------------------------------------------------ */
.top-mission {
  &-head {
    margin-top: 60px;
    text-align: center;
    @include mq-md {
      margin-top: 90px;
    }
    &-ttl {
      @include title;
      margin-bottom: 8px;
    }
    &-lead {
      @include font-en;
      @include fz(80/2, 70/2, 0);
      color: #000000;
      @include mq-md {
        @include fz(80, 70, 0);
      }
      &-ja {
        margin-top: 20px;
        @include fz(40/2, 55/2, 0);
        color: #000000;
        @include mq-md {
          margin-top: 40px;
          @include fz(30, 40, 0);
        }
      }
    }
  }
  &-txt {
    @include text;
    text-align: center;
  }
}
