.top-service {
  margin-top: 60px;
  @include mq-md {
    max-width: 38%;
    text-align: left;
  }
  &-img {
    text-align: center;
    @include mq-md {
      text-align: left;
    }
    img {
      margin: 0 auto;
      max-width: 200px;
      height: auto;
      @include mq-md {
        max-width: 304px;
        width: 100%;
      }
    }
  }
  &-head {
    margin-top: 20px;
    &-ttl {
      @include title;
    }
  }
  &-txt {
    @include text;
    margin-top: 10px;
    text-align: left;
    @include mq-md {
      margin-top: 14px;
    }
  }
  &-btn {
    @include mq-md {
      margin-top: 60px;
      padding: 14px 40px;
      display: inline-block;
      width: auto;
    }
  }
}
