/* =========================================================
  component top
============================================================ */
.top {
  &-btn {
    @include btn;
    display: block;
    margin-top: 24px;
    max-width: 190px;
  }
  /* section row
  ------------------------------------------------------------ */
  @at-root .news-ir-section-row {
    @include content-container;
    padding: 0;
    @include mq-md {
      font-size: 0;
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
    .top-news {
      @include mq-md {
        margin-top: 0;
      }
    }
    .top-ir {
      @include mq-md {
        margin-top: 0;
        flex-grow: 1;
      }
    }
  }

  @at-root .service-group-section-row {
    @include content-container;
    padding: 0;
    @include mq-md {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }

    .container-part {
      @include mq-md {
        margin-top: 0;
        padding-top: 90px;
        padding-left: 14%;
        padding-right: 0;
      }
    }

    .top-service {
      @include mq-md {
        margin-top: 4%;
        //flex-grow: 1;
      }
      .container {
        @include mq-md {
          padding-left: 0;
          padding-right: 21.0%;
        }
      }
    }

    .top-group {
      @include mq-md {
        margin-top: 0;
        flex-grow: 1;
        //@include col(19, 0);
      }
    }

  }

}

@import 'mission';
@import 'news';
@import 'ir';
@import 'message';
@import 'group';
@import 'contact';
@import 'service';

