/* =========================================================
  component btn
============================================================ */
@mixin btn {
  padding: 14px 10px;
  display: block;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  background-color: $green-color;
  @include fz(18/2, 26/2, 300);
  color: #FFFFFF;
  @include font-en-ja;
  text-align: center;
  @include mq-md {
    max-width: 380px;
    padding: 25px 20px;
    @include fz(12, 26, 200);
    @include ts-hover;
  }
  &:hover {
    @include mq-md {
      background-color: $light-green-color;
    }
  }
}
