/* =========================================================
  component contact form 7
============================================================ */
@mixin cf7-input {
  padding: 18px 15px;
  width: 100%;
  color: #303030;
  background-color: #f8f8f8;
  border: 2px solid transparent;
  &.is-invalid {
    border: 2px solid #ff4949;
  }
  @include mq-md {
    padding: 28px 30px;
  }
}

@mixin cf7-checkbox {
  display: block;
  @include mq-md {
    @include row;
  }
  .wpcf7-list-item {
    display: block;
    margin: 1.2em 0 0;
    white-space: nowrap;
    @include mq-md {
      @include col(15);
    }
  }

  .wpcf7-list-item-label {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    position: relative;
    &:before {
      content: '';
      position: relative;
      top: 0;
      margin-right: 10px;
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
      border: #7f7f7f solid 1px;
      background-color: #f8f8f8;
      width: 20px;
      height: 20px;
      @include mq-md {
        top: 3px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      background-color: #666;
      border-radius: 50%;
      opacity: 0;
      @include mq-md {
        top: 9px;
        left: 6px;
      }
    }
  }
  input[type='radio'] {
    opacity: 0.0;
    position: absolute;
  }
  input[type='radio']:checked + .wpcf7-list-item-label:after {
    opacity: 1;
  }
}