@mixin title {
  @include font-en;
  @include fz(30/2, 26/2, 100);
  color: $gray-color;
  @include mq-md {
    @include fz(18, 26, 100);
  }
}

@mixin text {
  margin-top: 20px;
  @include fz(24/2, 40/2, 75);
  color: #3C3C3C;
  a {
    @include link;
  }
  @include mq-md {
    margin-top: 40px;
    @include fz(13, 27, 75);
  }
}
@mixin link {
  color: $green-color;
  @include font-en-ja;
  text-decoration: underline;
  @include mq-md {
    @include fz(12.5, 27, 75);
    @include ts-hover();
    &:hover {
      color: $light-green-color;
    }
  }
}