/* =========================================================
  component access
============================================================ */
.access {
  position: relative;
  margin-top: 60px;
  padding-bottom: 50px;
  @include mq-md {
    padding-bottom: 130px;
  }
  &-bg {
    @include backscreen();
  }
  &-outer {
    @include mq-md {
      margin-top: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &-img {
    margin-top: 28px;
    text-align: center;
    overflow: hidden;
    position: relative;
    &-scroll {
      @include backscreenScroll($background-color, top, Y);
    }
    img {
      @include img-responsive;
    }
  }
  &-address {
    @include text;
    color: #3C3C3C;
    @include mq-md {
      padding-left: 9%;
      @include fz(12.5, 27, 75);
    }
  }
  table {
    margin-top: 1.2em;
    width: 100%;
    tr {
    }
    th,td {
      vertical-align: top;
      font-weight: 400;
      text-align: left;
    }
    th {
      width: 4em;
    }
  }
}