/* =========================================================
  component contact
============================================================ */
$contact-red: #ff4949;
.contact {
  margin-top: 30px;
  padding-bottom: 30px;
  @include mq-md {
    margin-top: 82px;
  }
  .red {
    color: $contact-red;
  }
  &-note {
    @include text;
  }
  &-group {
    @include clearfix;
    @include text;
    margin-top: 45px;
    display: block;
  }
  &-ttl {
    @include fz(28/2, 40/2, 50);
    color: #333;
    @include mq-md {
      @include fz(14, 36, 100);
      font-weight: 700;
    }
    &.is-require:before {
      content: '※';
      margin: 0;
      color: $contact-red;
    }
  }
  &-controls {
    margin-top: 20px;
    @include mq-md {
      margin-top: 12px;
    }
  }
  &-row {
    @include row(3px);
  }
  &-col {
    @include col(15, 3px);
  }
  &-input {
    @include cf7-input;
  }
  &-checkbox {
    @include cf7-checkbox;
  }
  &-textarea {
    @include cf7-input;
    max-height: 184px;
    @include mq-md {
      max-height: 250px;
    }
  }
  &-policy {
    @include text;
    letter-spacing: 0.03em;
    margin-top: 36px;
  }

  &-btn-group {
    margin-top: 48px;
    @include clearfix;
    @include mq-md {
      margin-top: 80px;
    }
    &.is-confirmed {
      display: none;
    }
  }
  &-confirm {
    @include btn;
    max-width: 190px;
    margin: 0 auto;
    &.is-disabled {
      background-color: #ccc;
      cursor: default;
      &:hover {
        background-color: #ccc;
      }
    }
    @include mq-md {
      @include fz(14, 26, 200);
      font-weight: 700;
    }
  }
  &-btn-group.is-confirmed {
  }
  &-btn-col {
    @include mq-md {
      text-align: center;
      @include col(15);
    }
  }
  &-back {
    @extend .contact-confirm;
    background-color: #6b6b6b;
    @include mq-md {
      display: inline-block;
      vertical-align: middle;
      max-width: 300px;
    }
    &:hover {
      @include mq-md {
        opacity: 0.8;
        background-color: #6b6b6b;
      }
    }
  }
  &-submit {
    margin-top: 10px;
    @extend .contact-confirm;
    @include mq-md {
      margin-top: 0;
      display: inline-block;
      vertical-align: middle;
      max-width: 300px;
    }
  }

  .wpcf7-not-valid-tip {
    display: none !important;
  }
  div.wpcf7-response-output {
    @include text;
    padding: 1em 2em;
    border: 2px solid $contact-red;
  }
  .wpcf7-mail-sent-ok {
    display: none !important;
  }
  .ajax-loader {
    display: none !important;
  }

  &-error {
    margin-left: 1.0em;
    display: inline-block;
    vertical-align: top;
    color: $contact-red;
  }
}

/* confirm
------------------------------------------------------------ */
.is-confirm .contact {
  @include mq-md {
    display: table;
  }
  &-form-outer {
    border-top: 1px solid $border-color;
    margin-top: 40px;
  }
  &-group {
    border-bottom: 1px solid $border-color;
    margin-top: 1.2em;
    padding-bottom: 2.5em;
    @include mq-md {
      margin-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
    }
  }
  &-row {
    margin: 0;
  }
  &-col {
    margin: 0;
    padding: 0;
  }
  &-ttl {
    padding: 18px 0 12px 0;
    @include text;
    margin-top: 0;
    @include mq-md {
      flex: 0 0 24em;
      margin-top: 0;
      padding: 28px 0 28px 0;
    }
    &:before {
      display: none;
    }
  }
  &-controls {
    @include text;
    margin-top: 0;
    @include mq-md {
      flex: 1;
      margin-top: 0;
    }
  }
  &-checkbox {
    @include mq-md {
      margin: 0;
      padding: 28px 0 28px 0;
    }
    input[type='radio'] {
      opacity: 0.0;
      position: absolute;
    }
    .wpcf7-list-item {
      display: none;
      margin: 0;
      padding: 0;
    }
    .wpcf7-list-item.is-checked {
      display: block;
      width: 100%;
    }
    .wpcf7-list-item-label {
      display: none;
    }
    input[type='radio']:checked + .wpcf7-list-item-label {
      display: block;
    }
    input[type='radio']:checked + .wpcf7-list-item-label:before,
    input[type='radio']:checked + .wpcf7-list-item-label:after {
      display: none;
    }
  }
  &-input {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    @include mq-md {
      padding: 28px 0 28px 0;
    }
  }
  &-textarea {
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
  }
  &-error {
    display: none;
  }
  &-policy {
    display: none;
  }
  &-btn-group {
    display: none;
  }
  &-btn-group.is-confirmed {
    display: block;
  }
}

