$gutter: 12%;
.footer {
  position: relative;
  margin-top: 30px;
  @include mq-md {
    margin-top: 100px;
  }
  &-bg {
    @include backscreen();
  }
  &-container {
    z-index: 2;
    position: relative;
    padding: 0 $container-side-gutter 115px;
    display: flex;
    flex-direction: column-reverse;
    @include mq-md {
      padding: 100px $container-side-gutter-md 150px;
      max-width: 1440px + $container-side-gutter-md*2;
      margin: 0 auto;
      flex-direction: row;
    }
  }
  &-logo {
    display: block;
    .logo-infobahngroup {
      @include svg-logo-infobahngroup(24px, #3c3c3c);
      @include mq-md {
        @include svg-logo-infobahngroup(25px, #3c3c3c);
      }
    }
  }
  &-name {
    margin-top: 5px;
    @include fz(24/2, 28/2, 75);
    color: #3C3C3C;
    @include mq-md {
      margin-top: 0;
      @include fz(12.5, 28, 75);
    }
  }
  &-address {
    margin-top: 20px;
    @include fz(20/2, 40/2, 75);
    color: #3C3C3C;
    @include mq-md {
      margin-top: 40px;
      @include fz(11, 28, 75);
    }
  }
  &-copyright {
    margin-top: 20px;
    @include fz(18/2, 30/2, 75);
    color: #3C3C3C;
    @include mq-md {
      position: absolute;
      bottom: 80px;
      //margin-top: 194px;
      @include fz(11, 28, 75);
    }
  }
  &-link {
    display: block;
    @include fz(20/2, 50/2, 75);
    color: #3C3C3C;
    &:before {
      content: '−';
      color: #999;
      margin-right: 5px;
    }
    @include mq-md {
      @include fz(11, 36, 75);
      @include ts-hover();
      &:hover {
        color: $light-green-color;
      }
    }
  }
  &-group {
    display: flex;
    flex-direction: column;
    &.is-1 {
      @include mq-md {
        padding-right: 40px;
      }
    }
    @include mq-md {
      display: inline-block;
      vertical-align: top;
    }
    &:first-child {
      margin-top: 60px;
      @include mq-md {
        margin-top: 0;
      }
    }
    &-links {
      display: none;
      padding: 10px 0;
      @include mq-md {
        padding-top: 28px;
        display: block !important;
      }
      &-row {
        @include mq-md {
          display: inline-block;
          vertical-align: top;
        }
        &:nth-child(2) {
          @include mq-md {
            margin-left: 90px;
          }
        }
      }
    }
    &-name {
      margin-top: -1px;
      position: relative;
      display: block;
      padding: 17px 0;
      border-top: solid 1px $border-color;
      border-bottom: solid 1px $border-color;
      @include fz(20/2, 28/2, 75);
      color: #3C3C3C;
      @include plus-minus;
      @include mq-md {
        cursor: default;
        padding-top: 0;
        border-top: none;
        padding-bottom: 5px;
        &:after, &:before {
          display: none;
        }
      }
      &.is-top {
        border-top: none;
      }
      @include mq-md {
        @include fz(13, 28, 75);
      }
    }
  }
  &-block {
    display: inline-block;
    vertical-align: top;
    @include mq-md {
      margin-bottom: 60px;
    }
    &.is-1 {
      @include mq-md {
        margin-left: 120px;
      }
    }
    &.is-2 {
      @include mq-md {
        min-width: 180px;
        margin-left: 120px;
      }
    }
    &.is-3 {
      @include mq-md {
        min-width: 180px;
        margin-left: 120px;
      }
    }
  }
}