/* =========================================================
  component fonder profile
============================================================ */
.founder-profile {
  @include clearfix;
}

.fprofile {
  margin-top: 30px;
  padding-bottom: 30px;
  @include mq-md {
    margin-top: 100px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-img {
    overflow: hidden;
    position: relative;
    @include mq-md {
      width: 39%;
    }
    &-scroll {
      @include backscreenScroll(#fff, top, Y);
    }
    img {
      @include img-max;
    }
  }
  &-right {
    @include mq-md {
      width: 71%;
      padding: 0% 0% 0% 8.2%;
    }
  }
  &-name-outer {
    margin-top: 20px;
    @include mq-md {
      margin-top: 0;
      display: block;
    }
  }
  &-name {
    display: inline-block;
    @include fz(24/2, 36/2, 100);
    font-weight: 700;
    color: #3C3C3C;
    @include mq-md {
      @include fz(16, 36, 100);
      font-weight: 700;
    }
  }
  &-name-en {
    margin-left: 0.8em;
    display: inline-block;
    @include font-en;
    @include fz(18/2, 26/2, 100);
    color: #B6B6B6;
    @include mq-md {
      @include fz(13, 26, 100);
    }
  }
  &-type {
    margin-top: 10px;
    @include fz(20/2, 30/2, 50);
    color: #3C3C3C;
    @include mq-md {
      @include fz(12.5, 27, 75);
    }
  }
  &-sep {
    max-width: 40px;
    margin: 24px 0 20px;
    border-top: 2px solid $border-color;
    height: 2px;
    @include ts-hover;
    transform-origin: 0%;
    transform: scaleX(0);
    @include mq-md {
      max-width: 60px;
      margin: 40px 0 36px;
    }
    &.is-scroll {
      transform: scaleX(1);
    }
  }
  &-lead {
    @include fz(30/2, 45/2, 0);
    color: #4E4E4E;
    @include mq-md {
      @include fz(20, 33, 100);
      color: #3C3C3C;
    }
  }

  &-history {
    max-height: 200px;
    @include media(1200px) {
      max-height: 250px;
    }
    @include media(1400px) {
      max-height: 350px;
    }
    @include media(1600px) {
      max-height: 450px;
    }
    &-table {
      margin-top: 20px;
      width: 100%;
      @include mq-md {
        margin-top: 34px;
      }
    }
    &-th, &-td {
      vertical-align: top;
      font-weight: 400;
      text-align: left;
      @include fz(24/2, 40/2, 50);
      color: #3C3C3C;
      @include mq-md {
        @include fz(12.5, 30, 75);
      }
    }
    &-th {
      width: 8em;
      @include mq-md {
        width: 10em;
      }
    }
    &-txt {
      font-weight: 400;
      text-align: left;
      @include fz(24/2, 40/2, 50);
      color: #3C3C3C;
      @include mq-md {
        @include fz(12.5, 30, 75);
      }
    }
  }

}
