.js-scroll {
  overflow: hidden;
  > * {
    display: inline-block;
    transform: translateY(100%);
  }

  &.is-scroll > *:not(br) {
    @include animation(translateUpIn, 1.0s, $easeOutCubic);
  }
}

@mixin backscreenScroll($color: $background-color, $origin: 100, $axis: X) {
  @include backscreen($color);
  top: 0;
  left: auto;
  right: 0;
  z-index: 11;
  transform-origin: $origin;
  transform: unquote('scale#{$axis}(2.0)');
  &.is-scroll {
    @include animation(_scale('backscreenScrollIn', 2, 0, $axis, $origin), 1.2s, $easeOutCubic);
  }
}

