/* =========================================================
  component loading
============================================================ */
$r: 196px;
.loading {
  overflow: hidden;
  z-index: $z-index-loading;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: visibility 0.5s linear;
  &-background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: linear-gradient(#005461, #6598a0);
    background: #fff;
  }
  &.hide {
    visibility: hidden;
  }
  &-inner {
    z-index: 2;
    position: relative;
    @include horizontal-center;
    @include vertical-center;
    @include ts-hover(0.3s, $easeInCubic)
  }
  &-logo {
    @include svg-logo-loading(25px, #006d74);
  }
  &.hide &-inner {
    opacity: 0;
  }
  &.hide &-background {
    @include animation(scaleDownOut, 0.30s, $easeInCubic);
  }

  &-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $r;
    height: $r;
    border-radius: 50%;
    border: 2px solid rgba(231,231,231, 0.1);
    margin-left: -$r / 2;
    margin-top: -$r / 2;
  }

  &-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $r / 2;
    height: $r;
    margin-left: -$r / 2;
    margin-top: -$r / 2;
    overflow: hidden;
    transform-origin: $r / 2 $r / 2;
    //mask-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
    animation: rotate 1.2s infinite linear;
  }
  &-line {
    width: $r;
    height: $r;
    border-top: rgba(231,231,231, 1.4) 2px solid;
    border-left: rgba(231,231,231, 1.4) 2px solid;
    border-radius: 50%;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}