/* =========================================================
  component menu
============================================================ */
.menu {
  overflow: hidden;
  z-index: $z-index-menu;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include ts-hover(0.2s);
  visibility: hidden;
  @include mq-menu-btn {
    width: auto;
    height: auto;
    top: 40px;
    right: 60px;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include ts-hover;
  }
  &.is-scrolled {
    @include mq-menu-btn {
      top: 15px;
    }
  }
  &.open {
    visibility: visible;
  }
  &-background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    @include animation(scaleUpOut, 0.2s, $easeOutCubic);
    @include mq-menu-btn {
      display: none;
    }
  }
  &-inner {
    overflow: hidden;
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mq-menu-btn {
      overflow: visible;
      width: auto;
      flex-grow: 11;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: auto;
      align-items: inherit;
    }
  }
  &-link {
    overflow: hidden;
    display: block;
    margin: 5px 0;
    padding: 0 20px;
    @include font-en;
    @include fz(28/2, 60/2, 100);
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    @include mq-menu-btn {
      overflow: visible;
      display: inline;
      color: rgba(255, 255, 255, 0.6);
      line-height: 45px;
      @include ts-hover($target: color);
    }
    &-bar {
      top: -4px;
      position: relative;
      display: block;
      height: 2px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.6);
      opacity: 0;
      transform: translateY(-200%);
      @include ts-hover(0.3s);
    }
    &-char {
      display: inline-block;
      @include animation(translateUpOut, 0.3s, $easeOutCubic);
      @include mq-menu-btn {
        animation: none;
      }
    }
  }
  &-recruit {
    position: relative;
  }
  &-recruit &-link-bar {
    display: none;
  }
  &-contact-outer {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    @include mq-menu-btn {
      margin-left: 20px;
      position: relative;
      flex-grow: 1;
      left: auto;
      right: auto;
      bottom: 0;
    }
  }
  &-contact {
    overflow: hidden;
    position: relative;
    padding: 18px 10px;
    display: block;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    background-color: #006d74;
    @include font-en-ja;
    @include fz(20/2, 26/2, 100);
    text-align: center;
    color: #FFFFFF;
    @include animation(translateUpOut, 0.1s, $easeOutCubic);
    @include ts-reset;
    @include mq-menu-btn {
      padding: 10px 12px;
      max-width: 152px;
      animation: none;
      @include fz(13, 26, 100);
      background-color: transparent;
      border: 1px solid #fff;
    }
    &-bg {
      display: block;
      @include mq-menu-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        @include animation(translateUpOut, 0.2s, $easeOutCubic);
      }
    }
    .sp {
      @include mq-menu-btn {
        display: none;
      }
    }
    .pc {
      display: none;
      @include mq-menu-btn {
        z-index: 2;
        position: relative;
        display: block;
        @include ts-hover(0.24s);
      }
    }
  }
  /* open
------------------------------------------------------------ */
  &.open &-background {
    @include animation(scaleDownIn, 0.3s, $easeOutCubic);
  }
  @for $i from 0 through 10 {
    &.open &-link:nth-child(#{$i}) &-link-char {
      @include animation(translateUpIn, 0.3s, $easeOutCubic);
      @include delay-child(10, 0.04s + 0.036s * $i, 0.008s);
    }
  }
  &.open &-contact {
    @include animation(translateUpIn, 0.3s, $easeOutCubic, 0.0s);
  }
  /* hover
  ------------------------------------------------------------ */
  &-link.is-active, &-link:hover {
    @include mq-menu-btn {
      color: rgba(255, 255, 255, 1.0);
    }
  }
  &-link.is-active &-link-bar, &-link:hover &-link-bar {
    @include mq-menu-btn {
      border-color: rgba(255, 255, 255, 1.0);
      transform: translateY(0%);
      opacity: 1;
    }
  }
  &-contact:hover .pc {
    @include mq-menu-btn {
      color: #000;
    }
  }
  &-contact:hover &-contact-bg {
    @include mq-menu-btn {
      @include animation(translateUpIn, 0.3s, $easeOutCubic);
    }
  }
  /* is scroll
  ------------------------------------------------------------ */
  &.is-scrolled &-link {
    @include mq-menu-btn {
      color: #000;
    }
  }
  &.is-scrolled &-link &-link-bar {
    border-color: #000;
  }
  &.is-scrolled &-contact {
    border-color: #000;
  }
  &.is-scrolled &-contact .pc {
    @include mq-menu-btn {
      color: #000;
    }
  }
  &.is-scrolled &-contact:hover .pc {
    @include mq-menu-btn {
      color: #fff;
    }
  }
  &.is-scrolled &-contact &-contact-bg {
    background-color: #000;
  }
  &.is-scrolled &-contact:hover &-contact-bg {
    @include mq-menu-btn {
      @include animation(translateUpIn, 0.3s, $easeOutCubic);
    }
  }

  /* sub
------------------------------------------------------------ */
  &-sub {
    padding-bottom: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    @include mq-menu-btn {
      position: absolute;
      top: 40px;
      left: 50%;
    }
    &-link {
      display: block;
      text-align: center;
      margin: 7px 0;
      padding: 0 30px;
      @include font-en;
      @include fz(28/2, 60/2, 100);
      svg * {
        @include ts-hover();
      }
      @include mq-menu-btn {
        &:hover svg * {
          fill: rgba(255,255,255,1.0);
        }
      }
      .logo-infobahn {
        @include svg-logo-infobahn(14px, rgba(0, 0, 0, 0.6));
        @include mq-menu-btn {
          * {
            fill: rgba(255,255,255,0.6);
          }
        }
      }
      .logo-mediagene {
        @include svg-logo-mediagene(17px, rgba(0, 0, 0, 0.6));
        @include mq-menu-btn {
          * {
            fill: rgba(255,255,255,0.6);
          }
        }
      }
    }
  }
  &.is-scrolled &-sub {
    @include mq-md {
      background-color: #fff;
    }
  }
  &.is-scrolled &-sub-link {
    @include mq-menu-btn {
      svg * {
        fill: rgba(0,0,0,0.6);
      }
      &:hover svg * {
        fill: rgba(0,0,0,1.0);
      }
    }
  }
}
