/* =========================================================
  component related
============================================================ */
.related {
  margin-top: 40px;
  padding-bottom: 50px;
  @include mq-md {
    margin-top: 125px;
    padding-bottom: 130px;
  }
}