/* =========================================================
  component sitemap
============================================================ */
.sitemap {
  margin-top: 18px;
  padding-bottom: 20px;
  @include mq-md {
    margin-top: 78px;
  }
  &-row {
    @include mq-md {
      @include row();
    }
  }
  &-col {
    @include mq-md {
      @include col(10)

    }
  }
  &-ttl {
    margin-top: 40px;
    @include fz(28/2, 40/2, 50);
    font-weight: 700;
    color: #3C3C3C;
    @include mq-md {
      @include fz(16, 36, 100);
    }
  }
  &-subttl {
    @include fz(24/2, 55/2, 75);
    font-weight: 700;
    color: #3C3C3C;
  }
  &-link-outer {
    margin-top: 1.6em;
    .indent {
      padding-left: 1.5em;
    }
  }
  &-link {
    display: block;
    @include fz(24/2, 55/2, 75);
    color: $green-color;
    @include ts-hover;
    @include mq-md {
      @include fz(12.5, 36, 75);
      &:hover {
        color: $light-green-color;
      }
    }
    &:before {
      content: 'ー';
      margin-right: 0.3em;

    }
  }
}