/* =========================================================
  component thanks
============================================================ */
.thanks {
  margin-top: 40px;
  padding-bottom: 30px;
  @include mq-md {
    margin-top: 100px;
    padding-bottom: 30px;
  }
  &-txt {
    @include fz(13, 22, 100);
    color: #3C3C3C;
    text-align: center;
    @include mq-md {
      @include fz(16, 27, 100);
    }
  }
  &-tel {
    &-row {
      @include clearfix;
      width: 260px;
      margin: 40px auto 0;
      text-align: center;
      @include mq-md {
        margin-top: 50px;
        width: 340px;
      }
    }
    &-num {
      @include col(15, 0px);
      @include font-en;
      @include fz(18/2, 26/2, 100);
      span {
        color: $gray-color;
      }
      @include mq-md {
        @include fz(13, 26, 100);
      }
    }
  }
  &-btn {
    @include btn;
    margin-top: 30px;
    @include mq-md {
      margin-top: 40px;
      @include fz(14, 26, 200);
      font-weight: 700;
    }
  }

}